<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <!-- tomcat startup.bat실행히 bin/logs/event 위치에 생김 -->
        <!-- tomcat service 실행히 logs/event 위치에 생김 -->
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>

        <File name="log4j2" fileName="C:/xeuslog/xeus/log4j2/xeus.log">
            <PatternLayout>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%c] - %msg%n
                </pattern>
            </PatternLayout>
        </File>
<!--         <File name="Send-Appender" fileName="${log-path}/event/send-event.log"> -->
<!--             <PatternLayout> -->
<!--                 <pattern> -->
<!--                     %d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n -->
<!--                 </pattern> -->
<!--             </PatternLayout> -->
<!--         </File> -->
    </Appenders>
    <Loggers>
<!--         <Logger name="geomex.mapservice." level="ERROR" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--         </Logger> -->
<!--         <Logger name="java.sql" level="ERROR" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--         </Logger> -->
<!--         <Logger name="org.geotools" level="ERROR" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--         </Logger> -->
<!--         <Logger name="org.egovframework" level="ERROR" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--         </Logger> -->
<!--         <Logger name="jdbc.sqltiming" level="ERROR" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--         </Logger> -->
<!--         <Logger name="org.springframework.aop.interceptor.CustomizableTraceInterceptor" level="ERROR" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--         </Logger> -->
        <!-- ESE로 송신한 메시지 로그 기록 -->
<!--         <Logger name="geomex.indcs.event.service.EventSocketSendService" level="debug"> -->
<!--             <AppenderRef ref="console" /> -->
<!--             <AppenderRef ref="Send-Appender" level="debug" /> -->
<!--         </Logger> -->

        <Root level="DEBUG">
            <AppenderRef ref="log4j2" />
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>