<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
       <!--  <typeAlias type="geomex.xeus.sysmgr.service.ColumnVo" alias="ColumnVo" /> -->
        <!-- 긴급재난상황 -->
        <!-- <typeAlias type="geomex.xeus.eventmonitor.service.EliFoaForestMapVo" alias="EliFoaForestMapVo" /> -->

    </typeAliases>

</configuration>
